/* Selects any disabled <input> */
body {
  margin: 1em;
}
aside {
    background: #1f8dd6; /* same color as selected state on site menu */
    padding: 0.3em .5em;
    border-radius: 3px;
    color: #fff;
    margin-bottom: 2em;
    font-size: smaller;
}
textarea {
  width: 100%;
}
.content-head {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 1em 0 1em;
}
.is-center {
  text-align: center;
}
.button-success {
  color: white;
  border-radius: 6px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(28, 184, 65); /* this is a green */
}
.button-error {
  color: white;
  border-radius: 6px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  background: rgb(202, 60, 60);
  /* this is a maroon */
}

.button-xlarge {
  font-size: 125%;
}

button {
  float: center;
}
#name, #email {
  width: 50%;
}
.honeypot-field {
  display: none;
}
.wrong {
  color:red;
}

.ok {
  color:#1f8dd6;
}

input[type=number] {
  width: 120px;
  padding: 12px 12px;
  margin: 8px 0;
  border: 2px solid rgb(0, 106, 255);
  border-radius: 6px;
  text-align: center;
}

input:disabled[type=number] {
  width: 120px;
  height: 37px;
  color: #1f8dd6;
  padding: 12px 12px;
  margin: 8px 0;
  border: 2px solid #1f8dd6;
  border-radius: 6px;
  text-align: center;
}

.taken {
  text-decoration: line-through;
  color:lightblue;
}

.stickynames {
  font-size: 8.5pt;
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 5px;
}

.remove {
  visibility: visible;
  font-size: 9pt;
  color:red;
}

.ghost {
  visibility: hidden;
  font-size: 9pt;
  color:rgb(255, 255, 255);
}